<H1>Overview Details Screen</H1>

<br/>

<H3>Reverse Paylist Form</H3>
<%= form_for :playlist, url: home_reverse_playlist_path do |f| %>
  <%= f.select :playlist_id, playlists_for_select(@spotify_user), prompt: "Select a playlist" %>
  <%= f.submit "Reverse" %>
<% end %>
